*{
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0s linear;
    
}
.navContent{
    background:#271437;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    top:0; left: 0; right:0;   
}
ul{
 display:flex;
 list-style: none;
 justify-content: space-between;

}
a{
    padding-right: 2rem;
}

li a:link{
    color:white;
}
li a:hover{
    color: orange;
    border-bottom: orange;
    padding-bottom: .5rem;
}

img{
    width:5rem;
    height:5rem;
    border-radius:2.5rem;
    margin-left: 1.5%;
}
.btn{
    width:8rem;
    height:2rem;
    background: rgb(144, 144, 240);
}
 .buttonBox{
    display: flex;
    align-items: center;
 }   
svg{
    height: 4rem;
    width:2rem;
    margin-right: 0.5rem; 
    color:rgb(144, 144, 240);
    border-radius: 2rem; 
}
